<!DOCTYPE html>
<html>
    <head>
        <title>Mypage</title>
        <link rel="stylesheet" href="style.css">        
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">  
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav id="sideBar">
            <div class="d-flex flex-row justify-content-between menu-bar">
                <h5 id="menuHeading">Categories</h5>
                <i class="fa-solid fa-bars" id="menuIcon"></i>
            </div>
            <ul id="sideBarList" class="side-bar-list">
            </ul>
        </nav>
        <div class="d-flex flex-column align-items-center header">
                <p class="input-heading">Need idea? Check the sidebar. Have one? Search below!</p>
                <div class="search-box">
                    <input id="inputEl" type="input" autocomplete="off" placeholder="Search here..."/><i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
                </div>
        </div>
        <main>
            <div>
                <p id="resultStatus">Find Images<span></span><span></span><span></span></p>
                <div class="container mt-1">               
                    <div class="row">                 
                        <div class="d-flex flex-row justify-content-around" id="imagesCont">                                            
                            <div id="paginationCont"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
        <script src="script.js"></script>
    </body>
</html>